server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/job_portal_db
    username: postgres
    password: Asus@123
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
