server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:job_portal_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

app:
  upload-dir: uploads
  jwt:
    secret: "jobportal-demo-secret-key-please-change-1234567890"
    expiration: 12h
